<div class="editor-toolbar">
    <div class="editor-toolbar__group">
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Encabezado 1" @onclick='() => InsertSnippet("# Título")'>H1</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Encabezado 2" @onclick='() => InsertSnippet("## Subtítulo")'>H2</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Encabezado 3" @onclick='() => InsertSnippet("### Sección")'>H3</button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" style="font-weight:800" title="Negrita" @onclick='() => InsertSnippet("**texto en negrita**")'>B</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" style="font-style:italic" title="Cursiva" @onclick='() => InsertSnippet("*texto en cursiva*")'>I</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" style="text-decoration:underline" title="Subrayado" @onclick='() => InsertSnippet("<u>texto subrayado</u>")'>U</button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Lista numerada" @onclick='() => InsertSnippet("1. Elemento uno\n2. Elemento dos")'>1.</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Lista con viñetas" @onclick='() => InsertSnippet("- Elemento\n- Elemento")'>•</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Checklist" @onclick='() => InsertSnippet("- [ ] Tarea pendiente\n- [x] Tarea realizada")'>☑</button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-toolbar__btn" title="Tabla" @onclick='() => InsertSnippet("| Columna 1 | Columna 2 |\n|---|---|\n| Valor | Valor |")'><Icon Name="table" /></button>
        <button type="button" class="editor-toolbar__btn" title="Bloque de código" @onclick='() => InsertSnippet("```\nvar x = 1;\n```")'><Icon Name="code" /></button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Cita" @onclick='() => InsertSnippet("> Cita textual")'>❝</button>
        <button type="button" class="editor-toolbar__btn" title="Hipervínculo" @onclick='() => InsertSnippet("[texto del enlace](https://)")'><Icon Name="link" /></button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-toolbar__btn" title="Imagen" @onclick='() => InsertSnippet("

![descripción](url-de-imagen)

")'><Icon Name="image" /></button>
        <button type="button" class="editor-toolbar__btn" title="Separador" @onclick='() => InsertSnippet("---")'><Icon Name="minus" /></button>
        <button type="button" class="editor-toolbar__btn" title="Expandible" @onclick='() => InsertSnippet("<details><summary>Ver más</summary>\nContenido oculto\n</details>")'><Icon Name="chevron-down" /></button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Nota" @onclick='() => InsertSnippet(":::note\nEsto es una nota.\n:::")'>📝</button>
        <button type="button" class="editor-toolbar__btn" title="Advertencia" @onclick='() => InsertSnippet(":::warning\nEsto es una advertencia.\n:::")'><Icon Name="alert-triangle" /></button>
        <button type="button" class="editor-toolbar__btn" title="Información" @onclick='() => InsertSnippet(":::info\nEsto es información adicional.\n:::")'><Icon Name="info" /></button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Color de texto" @onclick='() => InsertSnippet("{color:#C41230}texto en color{/color}")'>A</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Resaltar" @onclick='() => InsertSnippet("==texto resaltado==")'>▤</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Alinear" @onclick='() => InsertSnippet(":::center\ntexto centrado\n:::")'>≡</button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Deshacer" @onclick="Undo" disabled="@(_undoStack.Count == 0)">↺</button>
        <button type="button" class="editor-toolbar__btn editor-toolbar__btn--text" title="Rehacer" @onclick="Redo" disabled="@(_redoStack.Count == 0)">↻</button>
    </div>
</div>

.editor-toolbar__btn--text {
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-mono, monospace);
}