@using CorpWiki.Application.Helpers
@using CorpWiki.Domain.Entities.Incidents
@using CorpWiki.Web.Utilities

<span class="status-badge status-badge--@IncidentCssHelpers.StatusSuffix(Status)">
    <span class="status-badge__dot"></span>
    @IncidentLabels.Status(Status)
</span>

@code {
    [Parameter, EditorRequired] public IncidentStatus Status { get; set; }
}
