<button type="button"
        class="editor-toolbar__btn"
        title="Imagen"
        @onclick='() => InsertSnippet("![descripción](url-de-imagen)")'>
    <Icon Name="image" />
</button>











<button type="button"
        class="editor-toolbar__btn"
        title="Imagen"
        @onclick='() => InsertSnippet(@"![descripción](url-de-imagen)

")'>
    <Icon Name="image" />
</button>