@using ManageAdminDMS_UI.Services
@inject AuthService AuthService

<nav class="dab-navbar">
    <div class="dab-navbar__brand">
        <span class="dab-navbar__icon">◈</span>
        <div class="dab-navbar__titles">
            <span class="dab-navbar__name">Davivienda Honduras S.A</span>
            <span class="dab-navbar__subtitle">PLATAFORMA DE GESTIÓN DOCUMENTAL DaBuenaVida</span>
        </div>
    </div>
    <div class="dab-navbar__user">
        <div class="dab-navbar__avatar">@AuthService.Nomenclatura</div>
        <div class="dab-navbar__userinfo">
            <span class="dab-navbar__username">@AuthService.DisplayName</span>
            <span class="dab-navbar__userrole">@AuthService.Rol</span>
        </div>
    </div>
</nav>