<div class="dab-filters__group">
    <label class="dab-filters__label">CENTRO DE COSTO</label>
    <input class="dab-filters__input"
           @bind="Filtros.CentroDeCosto"
           placeholder="Ingrese centro de costo..." />
</div>