<nav class="dab-navbar">
    <div class="dab-navbar__brand">
        <span class="dab-navbar__icon">⌂</span>
        <div class="dab-navbar__titles">
            <span class="dab-navbar__name">Davivienda Honduras S.A</span>
            <span class="dab-navbar__subtitle">PLATAFORMA DE GESTIÓN DOCUMENTAL</span>
        </div>
    </div>
    <div class="dab-navbar__user">
        <div class="dab-navbar__avatar">MR</div>
        <div class="dab-navbar__userinfo">
            <span class="dab-navbar__username">María Rodríguez</span>
            <span class="dab-navbar__userrole">Gerente de Agencia</span>
        </div>
    </div>
</nav>
